.home-page {
  height: 100dvh;
  width: 100%;
  overflow-y: hidden;
  background-image: linear-gradient(
    160deg, 
    $clr-accent-700 50%,
    rgba(255, 164, 27, 0.95) 50%
  );

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 2rem;
  
  .home-page__cv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .home-page__cv-img {
      min-width: 250px;
      max-width: 400px;
      height: auto;
      box-shadow: 5px 5px 20px 10px $clr-neutral-700;
    }

    .home-page__cv-pen {
      min-width: 100px;
      max-width: 200px;
      height: auto;
    }
  }

  .home-page__intro {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    padding: 3rem;


    .home-page__title {
      color: $clr-neutral-100;
      font-size: 5rem;
      font-weight: bold;
      font-family: $ff-sans;
      text-shadow: 5px 5px rgb(127, 127, 127);
      padding-bottom: 1rem;
    }

    .home-page__description {
      padding-bottom: 1rem;
      color: $clr-neutral-900;
      font-weight: $fw-semi-bold;
      font-size: 1rem;
      font-family: $ff-mono;
    }

    .home-page__btn {
      padding: 1rem 3rem;
      border: 0;
      color: $clr-neutral-900;
      font-weight: $fw-semi-bold;
      background-color: #f7e5b6;
      border-radius: 8px;
      box-shadow: 1px 1px 10px 2px $clr-neutral-900;
      cursor: pointer;
      transition: opacity 0.2s ease-out;
    }

    .home-page__btn:hover {
      opacity: 0.85;
    }
  }
}