.cv-page {
  width: 100%;
  height: 100dvh;
  background-color: #ebebeb;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 99;

  .cv-page__container {
    width: 800px;
    padding: 3rem;
    height: 100%;
    margin-inline: auto;
    background-color: $clr-neutral-100;
  }
}

// GENERAL INFORMATION
.general-information {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(153, 153, 153, 0.5);

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 11px;
  }
}

.general-information > *:nth-child(1) {
  flex: 4;
}

.general-information > *:nth-child(2) {
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

// WORK INFORMATION
.work-information {
  border-bottom: 2px solid rgba(153, 153, 153, 0.5);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;

  ul {
    margin-left: 2rem;

    li {
      margin-bottom: 8px;
    }

    .work-information__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  h2 {
    font-size: 15px;
    font-weight: bold;

    margin-bottom: 4px;
  }

  h3 {
    font-size: 13px;
    font-weight: bold;

    margin-bottom: 3px;

    span {
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
    }
  }

  p,
  pre {
    font-size: 12px;
  }

  .work-information__date {
    font-size: 10px;
    font-weight: bold;
  }
}

// PROJECT INFORMATION
.project-information {
  border-bottom: 2px solid rgba(153, 153, 153, 0.5);
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  h2 {
    font-size: 15px;
    font-weight: bold;

    margin-bottom: 6px;
  }

  ul {
    margin-left: 2rem;

    li {
      margin-bottom: 6px;

      h3 {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 3px;
      }

      p,
      pre {
        font-size: 12px;
      }
    }
  }
}

// SKILL INFORMATION
.skill-information {
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(153, 153, 153, 0.5);
  margin-bottom: 1rem;

  h2 {
    font-size: 15px;
    font-weight: bold;

    margin-bottom: 6px;
  }

  .skill-information__lists {
    // display: flex;
    // gap: 0.5rem;
    // flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: square;
    margin-left: 2rem;

    li {
      font-size: 12px;
    }
  }
}

// CERTIFICATION INFORMATION
.certification-information {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgba(153, 153, 153, 0.5);
  margin-bottom: 1rem;

  h2 {
    font-size: 15px;
    font-weight: bold;

    margin-bottom: 5px;
  }

  ul {
    margin-left: 2rem;

    li {
      margin-bottom: 4px;
      // display: flex;
      // justify-content: space-between;
      // align-items: center;

      .certification-title {
        display: flex;
        justify-content: space-between;
      }

      h3 {
        font-size: 13px;
        font-weight: bold;
      }

      p {
        font-size: 11px;
      }

      .certification-institute {
        font-size: 11px;
        font-style: italic;
        font-weight: 400;
      }
    }
  }
}

// ORGANIZATION INFORMATION
.organization-information {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgba(153, 153, 153, 0.5);
  margin-bottom: 1rem;

  h2 {
    font-size: 15px;
    font-weight: bold;

    margin-bottom: 5px;
  }

  ul {
    margin-left: 2rem;

    li {
      margin-bottom: 4px;
    }

    .organization-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h3 {
      font-size: 13px;
      font-weight: bold;
    }

    p {
      font-size: 11px;
    }

    .organization-institute {
      font-size: 11px;
      font-style: italic;
      font-weight: 400;
    }
  }
}

// EDUCATION INFORMATION
.education-information {
  margin-bottom: 1rem;

  h2 {
    font-size: 15px;
    font-weight: bold;

    margin-bottom: 4px;
  }

  li {
    margin-left: 2rem;
    margin-bottom: 8px;

    .education-information__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3px;

      h3 {
        font-size: 13px;
        font-weight: bold;
      }

      .education-information__date {
        font-size: 11px;
        font-weight: bold;
      }
    }

    p {
      font-size: 11px;
    }
  }
}

// Generate PDF Button
.CV__generate-pdf {
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  @media (min-width: $mobile-screen) {
    top: 1rem;
    bottom: 0;
  }
}
